
B-Variational_autoencoders_and_transformers/
Reaction_Diffusion/

1D_Forced_Burgers/
2D_CapDrivenFluidFlow/
2D_ChannelFlow/
2D_Cylinder/
2D_FD_ReactionDiffusion/
2D_GlobalSeaTemperature/
2D_TS_ReactionDiffusion/
2D_TurbulentCombustion/
3D_GS_ReactionDiffusion/
2D_CollinearPlateFlow/

__pycache__/

*.pth
*.png
*.gif
*.csv
*.h5
*.tar
*.pt
*.yaml
_Main/src/__pycache__/train_Senseiver.cpython-310.pyc
